Package: sh.litten.nevve
Name: Nevve ❄️
Depends: mobilesubstrate, preferenceloader, firmware (>= 11), ws.hbang.common (>= 1.14)
Architecture: iphoneos-arm
Description: Sounds Falling Down To Your Device
Maintainer: Litten <hiya@litten.love>
Author: Litten <hiya@litten.love>
Section: Tweaks
Depiction: https://repo.litten.love/depictions/nve/index.html
SileoDepiction: https://repo.litten.love/depictions/nve/nve.json
Icon: https://repo.litten.love/depictions/nve/assets/icon.png
Version: 1.1.3
Installed-Size: 684
